.header {
  // background-color: #222222;
  background: -moz-radial-gradient(center, ellipse cover, rgba(105,105,105,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(105,105,105,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse cover, rgba(105,105,105,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(105,105,105,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(105,105,105,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(105,105,105,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#000000',GradientType=1 ); /* ie6-9 */

  height: 114px;
  font-size: 18px;
  .header__showMenu {
    // display: block;
  }
  .header__mobile {
    display: none;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
    li {
      position: relative;
      list-style-type: none;
      margin-right: auto;

      a {
        color: white;
      }
    }
    .header__company {
      font-family: 'RobotoBold', sans-serif;
      font-size: 20px;
      a {
        display: inline-block;
        width: inherit;
        background-image: url("../../img/checkers.svg"); 
        background-repeat: no-repeat;
        background-position: 0 5px;
        padding-left: 60px;
      }
    }
    li:nth-child(2){
      margin-left: auto;
    }
    li:last-child {
      margin-right: 0;
      a {
        color: #838383;
      }
    }
    li.active a {
      color: #f4c116;
    }
    li.active::after {
      content: " ";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -48px;
      border-bottom: 8px solid #f4c116;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 80px;
    background: #2a2a2a;
    .header__bg {
      // background: #2a2a2a;
    }
    .header__showMenu {
      // display: none;
    }
    .header__mobile {
      padding-left: 16px; // .container
      padding-right: 16px; // .container
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: #2a2a2a;
      .header__company {
        font-family: 'RobotoBold', sans-serif;
        font-size: 20px;
        a {
          display: inline-block;
          width: inherit;
          background-image: url("../../img/checkers.svg"); 
          background-repeat: no-repeat;
          background-position: 0 5px;
          padding-left: 60px;
          color: #ffffff;
        }
      }
      .header__hamburger {
        width: 40px;
        height: 36px;
        background-color: #ffffff;
        background-image: url("../../img/hamburger.png");
        background-repeat: no-repeat;
        background-position: center; //10px 8px;
        background-size: 46%;
      }
    }
    ul {
      padding-left: 16px; // .container
      padding-right: 16px; // .container
      background-color: #2a2a2a;
      position: relative;
      z-index: 10;
      padding-top: 2%;
      flex-direction: column;
      justify-content: center;
      position: relative;
      z-index: 9;
      margin: 0 auto;
      height: 0px;
      overflow: hidden;
      //transition: height 0.3s ease-out;
      .header__company {
        display: none;
      }
      li {
        // margin: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        text-align: center;
        margin-bottom: 30px;
        a {

        }
      }
      li.active::after {
        left: 0;
        right: 0;
        bottom: -5px;
        border-bottom: 2px solid #f4c116;
      }
    } // ul
  } //. header
  .header__transition {
    height: 0;
    transition: height 0.3s ease;
  }
  .header__menuShow { 
    position: relative;
    overflow: hidden;
    height: 200px !important;
    transition: height 0.3s ease-in;
  }
}