.main {
  font-size: 16px;
  .main__form-wrapper {
    max-width: 890px;
    height: 290px;
    // margin-right: 22px; //34px;
    margin-left: 44px; //34px; 
    .main__form {
      height: 142px;
      border: 1px solid #dcdcdc;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      .main__pointer {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background-color: #ffffff;
        left: -43px;
        width: 74px;
        height: 74px;
        border: 3px solid #f4c116;
        border-radius: 50%;
        background-image: url("../../img/pointer.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
      h4 {
        width: 82%;
      // font-size: 16px;
      }
      select, input, button {
        height: 45px;
        width: 24%;
        // font-size: 16px;
      }
      select {
        margin-right: 4%;
        padding-left: 2%;

        background: url("../../img/selectArrow.svg") no-repeat right;
        -webkit-appearance: none;
        background-position-x: 96%; //190px;
        option {
          height: 45px;
          &:first-child {
            background-color: #e4e4e4;
          }
        }
        @-moz-document url-prefix() {
          // background: none;
          -moz-appearance: none;
          background-image: url("../../img/selectArrow.svg");
          background-repeat: no-repeat;
          background-position: 94% 18px;
        }
      }
      // select.main__selectTaxi option:hover { 
      //   // background-color: red;
      //   // box-shadow: 0 0 10px 100px #1882A8 inset;
      //   // background: red !important;
      // }
      input {
        margin-right: 4%;
        padding-left: 2%;
      }
      button {
        background-color: #ffffff;
        border: 1px solid #f4c116;
        text-align: center;
        cursor: pointer;
      }
    }
  } // .main__form-wrapper

  .main__details {
    background-color: #f7f7f7;
    height: 228px;
    .main__details-height {
      height: 228px;
    }
    .main__details-wrapper {
      max-width: 890px;
      margin-left: 44px; 
      // margin-right: 22px; 
      // margin-left: 22px;
      // padding-right: 22px; 
      // padding-left: 22px;
      height: 74px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      .main__details-img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -43px;
        width: 62px; //?
        height: 74px;
        border: 3px solid #f4c116;
        border-radius: 50%;
        background-image: url("../../img/details.svg");
        background-repeat: no-repeat;
        background-position: center;
        // background-size: 20%;
      }
      h4 {
        width: 82%;
        margin-bottom: 20px;
      }
      > div {
        width: 24%;
        margin-right: 4%;
        padding-left: 2%;
        &:last-child {
          margin-right: 0;
        }
        .main__details-name {
          color: #c1c1c1;
          font-size: 14px;
          margin-bottom: 8px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    .main__form-wrapper {
      margin-left: 0;
      .main__form {
        border: none;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 220px;
        .main__pointer {
          display: none;
        }
        // h4 {
        //   width: 100%;
        // }
        h4, select, input, button {
          width: 100%;
          // margin: 0;
          margin: 0 0 18px 0;
          box-sizing: border-box;
        }
        select {
          background-position-x: 96%;
        }
      }
    }

    .main__details {
      height: 275px;
      .main__details-height {
        height: 275px;
      }
      .main__details-wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 0;
        .main__details-img {
          display: none;
        }
        h4, > div {
          width: 100%;
          margin-right: 0;
          padding-left: 0;
          margin-bottom: 18px;
        }
      }
    }
  }
}